:root{

    /* Colors */

    --background:#0B1120;

    --surface:#111827;

    --card:#1E293B;

    --primary:#38BDF8;

    --primary-hover:#0EA5E9;

    --secondary:#7C3AED;

    --white:#F8FAFC;

    --gray:#CBD5E1;

    --gray-light:#94A3B8;

    --border:#334155;

    /* Fonts */

    --font:'Inter',sans-serif;

    /* Sizes */

    --container:1200px;

    --radius:18px;

    --transition:.35s ease;

    --shadow:0 10px 30px rgba(0,0,0,.25);

}